/*titulos*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Reenie+Beanie&family=Saira+Condensed:wght@500&display=swap');
/*love in a cup*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Reenie+Beanie&family=Saira+Condensed:wght@300&display=swap');
/*orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Reenie+Beanie&family=Saira+Condensed:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //*border: 1px solid red;**/
}
    
html{
    font-size: 16px;
}
.loveInACup{
    width: 100%;
    height: 23px;
}
.loveInACup h4{
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Saira Condensed", sans-serif;
    text-align: center;
    background-color: black;
    font-size: .9375rem;
    font-weight: 150;
}
h1{
    color: white;
    font-family: "Reenie Beanie", cursiva;
    font-size:8.625rem;
    font-weight: 100;
    text-align: center;
}
nav{
    padding-left: 220px;
    width: 100%;
    height: 100%;
    color:#225c3b;
    font-family:"Orbitron", sans-serif;
}
nav ul li{
    display: inline-block;
    padding-top: 40px;
    margin-left: 10px;
    margin-right: 10px; 
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color:#225c3b;
    font-size: 1.75rem;
}
.menulogo{
    padding-left: 200px;
    width: 80%;
    height: 230px;
    display: flex;
    justify-content: center;
}
.menulogo img{
    width:100%;
    height: 100%;;
}
footer{
    width: 100%;
    height: 70px;
    background-color:#999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .pieDePag{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.pieDePag h2{
    width: 80%;
    height: 100%;
    text-align: center;
    color: white;
    font-family:"Orbitron", sans-serif;
    font-size: 3rem;
    font-weight:200;
}
footer .pieDePag img{
    width:70px;
    height:70%
}
.carrito{
    color: black;
    font-family:"Reenie Beanie", cursiva;
    font-size: 6.875rem;
    font-weight: 100;
}
.barraNav{
    height: 115px;
}
/*
home------------------------------------------------------------------------------------------------------*/
.navHome{
    width: 100%;
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.productosInicio p{
    text-transform: uppercase;
}
.productosInicio button{
    color: white;
    font-family:"Orbitron", sans-serif;
    font-weight: 400;
    padding:5%;
    background-color: #527e65;
    border: none;
    border-radius: 25px;
    text-align: center;
}
.cuatroProd{
    background-image: url(../assest/Inicio/fondo\ sombra.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
}
.prod{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.prod article{
    width: 20%;
    height: 10%;
}
.prod img{
    margin-top: 20px;
    margin-left: 10px;
    width:90%;
    height: 100%;
    border-radius: 57px;
}
.masVendidos{
    color: black; 
    font-family: "Reenie Beanie", cursiva;
    font-size: 4rem;
}
.masVendidos h3{
    height: 20%;
    font-weight: 100;
    text-align: center;
    padding-top: 30px;

}
.punto{
    background-color: black;
}
.logo{
    width: 85px;
    height: 75px;
}
.logo img{
    margin-top: 10%;
    width: 100%;
    height: 100%;
}
.comienzo{
    background-image: url(../assest/Inicio/cafeteria\ aest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 712px;
    background-position: center center;
    display: flex;
    align-items: center;
}
.comienzo h1{
    font-size: 110px;
    text-align: left; 
    text-transform: uppercase;
    width: 20%;
    height: 100%;
    margin-left: 20px;
}
.productosInicio{
    color:  black;
    font-family: "Reenie Beanie", cursiva;
    font-size: 1.875rem;
    font-weight: 100;
    text-align: center;
    margin-left: 15px;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    row-gap:20px ;
}
.botones button{
    width:60%;
    height:70%;
    color: #527e65;
    font-family: "Saira Condensed", sans-serif;
    font-size: 24px;
    font-weight: 400;
    background-color: black;
    border-style: 20px solid;
    border-color: #527e65;
    border-radius: 59.5px;
    margin: 10px 10px 10px 10px;
}
.reserva{
    width: 100%;
    height: 90px;
    background-color: black;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reserva h3{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Reenie Beanie", cursiva;
    font-size: 3rem;
    font-weight: 50;
    padding-left: 20px;
}
.reserva button{
    color: #527e65;
    font-family:"Orbitron", sans-serif;
    font-size: 1.5rem;
    margin-right: 30px;
}
.fondoCof{
    background-image: url(../assest/Inicio/fondoTime.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fondoCof img{
    width: 20%;
    height: 80%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}
.fondoCof p{
    color: black; 
    font-family: "Reenie Beanie", cursiva;
    font-size: 2.25rem;
    font-weight: 600;
    width: 52%;
    height: 90%;
    margin-top: 15%;
}
.encontrarnos{
    width: 100%;
    height: 500px;
    background-image: url(../assest/Inicio/fondo\ sombra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.encontrarnos h2{
    color:#225c3b;
    font-family: "Reenie Beanie", cursiva;
    font-size: 6.25rem;
    font-weight: 50;
    text-align: left center;
    text-transform: uppercase;
    width: 30%;
    height: 50%;
    padding-left:70px;
    padding-top: 40px;
}
.chicacoffe2{
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 30px;
    width: 25%;
    height: 400x;
}
/*Menu---------------------------------------------------------------------------------------------------------*/
.mainMenu h1{
    width: 100%;
    height: 650px;
    text-transform: uppercase;
    background-image: url(../assest/menu/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bebidas-comidas{
    background-image: url(../assest/menu/fondoClaro.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.menuCalUno article{
    display: inline-block;
    margin: 25px;
}
.menuCalDos article{
    display: inline-block;
    margin: 25px;
}
.productos p{
    color: #225c3b;
    font-family:"Orbitron", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.bebidas-comidas img{
    border-radius: 63px;
}
.bebidas-comidas h2{
    color: black;
    font-family:"Orbitron", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 30px;
    padding-top: 30px;
}
.sub-dos h2{
    color:white;
    font-family:"Orbitron", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    width:100% ;
    height: 300px;
    padding-left: 20px;
    padding-top: 200px;
    background-image: url(../assest/menu/paraacompañar.png);
}
.sub-dos{
    display: flex;
    justify-content:start ;

}
/*Nosotros----------------------------------------------------------------------------------------------------*/
.hola p{
    color: black;
    font-family:"Reenie Beanie", cursiva;
    font-size: 4rem;
    font-weight: 100;
    width: 50%;
    height: 100%;
    width: 60%;
    padding-top: 50px;
    margin-left: 60px;
}
.primeraParte{
    background-image: url(../assest/nosotros/fondonos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
}
.hola{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hola img{
    width: 25%;
    height: 10%;
    padding-top: 110px;
    padding-right: 40px;
    padding-left: 20px;
}
.cocinaalavista{
    width: 100%;
    height: 600px;
}
.cocinaalavista img{
    width:100%;
    height:100%;
}
.ambos{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(11, 9.090909%);
    grid-template-rows: repeat(9, 11.111111%);
}
.ambos .patioGrid{
    width:100%;
    height: 100%;
    border-radius: 153px;
    grid-column: 2 / 6;
    grid-row: 2 / 9;
}
.ambos .terrazaGrid{
    width:100%;
    height: 100%;
    border-radius: 153px;
    grid-column:   7 / 11;
    grid-row: 2 / 9;
}
.ambos .patioo{
    color:black;
    font-family:"Saira Condensed", sans-serif;
    font-size: 8rem;
    font-weight: 900;
    width: 100%;
    grid-column: 2 / 6;
    justify-self: center;
    align-self: center;
    grid-row: 4 / 6 ;
}
.ambos .terrazaa{
    color:black;
    font-family:"Saira Condensed", sans-serif;
    font-size: 8rem;
    font-weight: 900;
    width: 100%;
    grid-column: 7 / 11;
    justify-self: center;
    align-self: center;
    grid-row: 4 / 6 ;
}
.terr-pat{
    width: 100%;
    background-color: black;
}
.terr-pat p{
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-family: "Reenie Beanie", cursiva;
    font-size: 4.6875rem;
    font-weight: 100;
}
.tambien{
    padding-top: 30px;
}
.tambien h2{
    color:black;
    font-family:"Saira Condensed", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.tambien p{
    color: #527e65;
    text-align: center;
    font-family:"Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 70px;
    margin-left: 220px;
    margin-right: 220px;
}
/*Reserva-----------------------------------------------------------------------------------------------*/
.sectionDos{
    background-image: url(../assest/Inicio/fondo\ sombra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
}
.imagen{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: "salon terraza patio";
    column-gap: 20px;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.lugarReserva article div h2{
    color: white;
    font-family: "Reenie Beanie", cursiva;
    font-size: 110px;
    font-weight: 100;
    text-align: center;
}
.lugares{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: "salon terraza patio";
    position: relative;
}
.lugarReserva article .lugares .salon{
    grid-area: salon;
    position: absolute;
    margin-top: 350px;
    margin-left: 90px;
}
.lugarReserva article .lugares .terraza{
    grid-area: terraza;
    position: absolute;
    margin-top: 350px;
    margin-left: 50px;
}
.lugarReserva article .lugares .patio{
    grid-area: patio;
    position: absolute;
    margin-top: 350px;
    margin-left: 120px;
}
.linea{
    width: 100%;
    height: 30px;
}
.div-1 div{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 0px;
}
.div-2 div{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.div-2{
    width: 70%;
    padding-left: 50px;
}
.div-1{
    width: 70%;
    margin-left: 150px;
}
.todoJunto{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.enviarBoton{
    display: flex;
    justify-content: right;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enviarBoton button{
    text-transform: uppercase;
    color: #000;
    font-family:"Reenie Beanie", cursiva;
    font-size: 59px;
    background: none;
    border: none;
}
.formularioTA form{
    color: black;
    font-family:"Orbitron", sans-serif;
    font-weight: 900;
}
.formularioTA h2{
    color: black;
    font-family:"Reenie Beanie", cursiva;
    font-size: 6rem;
    font-weight: 100;
    padding-left: 20px;
    padding-top: 20px;
}
.formularioTA p{
    text-align: left;
    width: 70%;
    margin-left: 350px;
    margin-top: 0px;
}
.palabraForm{
    width:100%;
    font-size: 2.5rem;
}
.barraForm{
    width:70%;
    height: 30px;
    color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 29.5px;
    border-width: 1.5px;
}
.chicataza{
    width: 20%;
    justify-content: right;
    margin-left: 50px;
    margin-top: 30px;
}
.info{
    color: black;
    font-family:"Orbitron", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    grid-area: info;
    margin-top: 40px;
}
.amigas{
    background-image: url(../assest/reserva/amigas.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 608px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.amigas h2{
    color: white;
    font-family:"Saira Condensed", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}
.amigas h3{
    color: white;
    font-family:"Saira Condensed", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}
/*Take away-----------------------------------------------------------------------------------------------*/
.takeAway{
    text-align: center;
    padding-top: 160px;
    width: 100%;
    height: 500px;
    background-image: url(../assest/takeAway/portada.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.pedipreppas{
    background-image: url(../assest/takeAway/fondodeg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.pedipreppas .comenza{
    color: black;
    font-family: "Reenie Beanie", cursiva;
    font-size: 6.875rem;
    font-weight: 100;
    text-align: center;
    margin-left: 20px;
    margin-top: 120px;
}
.pedipreppas ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.productosTA{
    background-image: url(../assest/takeAway/fondoBlanco.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.productosTA article{
    display: inline-block;
    margin: 25px;
}
.productosTA button{
    color: white;
    font-family: "Saira Condensed", sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding: 0px 70px 0px 70px;
    margin-left: 15px;
    background-color:#225c3b;
    border: none;
    border-radius: 59.5px;
}
.formTA{
    background-image: url(../assest/takeAway/degrade.jpg);
    background-repeat: no-repeat;
}
.productosTA article img{
    border-radius: 63px;
    border: none;
    display: flex;
    justify-content: space-evenly;
}
.productosTA article div .productos{
    color: #225c3b;
    font-family:"Orbitron", sans-serif;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pedipreppas h4{
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family:"Saira Condensed", sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
}
.pedipreppas h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family:"Saira Condensed", sans-serif;
    font-size: 6.875rem;
    font-weight: 1000;
}
.pedipreppas ol{
    color: #527e65;
    font-family:"Orbitron", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.botonPedir button{
    width: 95%;
    color: #527e65;
    font-family:"Saira Condensed", sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    background-color: white;
    border-style: 10px solid;
    border-color: #527e65;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
.botonPedir{
    padding-left: 33px;
    padding-bottom: 20px;
}
.lineaDiv{
    background-color: #000;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}
.carrito{
    width:80%;
    height: 10%;
    border: black solid;
    border-radius: 50px;
    margin-left:150px ;
    margin-bottom: 50px;
}
.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.todo .formulario label{
    color: #000000;
    font-size: 2.625rem;
    font-weight: 500;
    font-family:"Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
}
.formulario{
    width: 100%;
    padding-bottom: 30px;
}
.formulario .inp{
    width: 50%;
    height: 25px;
    border-color: #000;
    border-style: solid;
    border-radius: 50px;
}
.formulario input{
    margin-left: 70px;
}
.formulario .lab{
    margin-left: 70px;
}
.formTA .imagenPL{
    width: 100%;
    height: 400px;
}
.formTA img{
    width: 100%;
    height: 100%;
}

/**MEDIDA TABLET IPAD MINI 8.3**/
/**home--------------------------------------------------------------------------------------------------------**/
@media (max-width: 1440px){
    .comienzo{
        height: 600px;
    }
    .comienzo h1{
        font-size: 6.25rem;
    }
}
@media (max-width: 1350px){
    .cuatroProd{
        height: 600px;
    }
    .productosInicio{
        font-size: 1.5rem;
    }
}
@media (max-width: 1272px){
    .cuatroProd{
        height: 550px;
    }
    .comienzo{
        height: 550px;
    }
    .comienzo h1{
        font-size: 5.625rem;
    }
    .productosInicio{
        font-size: 1.5rem;
    }
    nav ul li a{
        font-size: 25px;
    }
}

@media (max-width: 1170px){
    .fondoCof img{
        width: 20%;
        height: 70%;
    }
    .comienzo{
        height: 420px;
    }
    .comienzo h1{
        font-size: 4.375rem;
    }
    .loveInACup{
        width: 100%;
    }
    footer{
        height: 50%;
    }
    .pieDePag h2{
        font-size: 1.875rem;
    }
    footer .pieDePag img{
        width:10%;
        height:35%;
    }
    .fondoCof p{
        font-size: 1.875rem;
    }
    .reserva h3{
        font-size: 2.625rem;
    }
    .botones button{
        font-size: 18px;
        height: 80%;
    }
    .reserva{
        height: 70px;
    }
    .encontrarnos h2{
        font-size: 4.75rem;
        padding-left:50px;
    }
    .encontrarnos{
        height: 400px;
    }
    .chicacoffe2{
        width: 20%;
        height: 80%;
    }
    .productosInicio{
        font-size: 1.25rem;
    }
    .productosInicio button{
        width:40%;
        height: 40%;
    }
}
@media (max-width: 1100px){
    .fondoCof img{
        width: 22%;
    }
    .cuatroProd{
        height: 500px;
    }
    nav ul li a{
        font-size: 1.375rem;
    }
    .logo img{
        width:90%;
        height:90%;
    }
    .barraNav{
        height: 108px;
    }
    .encontrarnos{
        height: 350px;
    }

}
@media (max-width: 929px){
    .fondoCof img{
        width: 23%;
        height: 65%;
    }
    .cuatroProd{
        height: 450px;
    }
    .comienzo{
        height: 350px;
    }
    .comienzo h1{
        font-size: 3.625rem;
        width: 20%;
    }
    .loveInACup{
        width: 100%;
    }
    .fondoCof p{
        font-size: 1.625rem;
    }
    .reserva h3{
        font-size: 2.25rem;
    }
    .botones button{
        font-size: .75rem;
    }
    .encontrarnos{
        height: 300px;
    }
    .encontrarnos h2{
        font-size: 4.25rem;
        padding-left:40px;
    }
    .barraNav{
        height: 106px;
    }
    .logo img{
        width:80%;
        height:80%;
    }
    nav ul li a{
        font-size: 1.125rem;
    }
    .productosInicio{
        font-size: .875rem;
    }
    .productosInicio button{
        font-size: .75rem;
    }
}
@media (max-width: 815px){
    .chicacoffe2{
        width: 20%;
        height: 73%;
    }
    .fondoCof img{
        width: 24%;
        height: 60%;
    }
    .cuatroProd{
        height: 420px;
    }
    .comienzo{
        height: 300px;
    }
    .comienzo h1{
        font-size: 3.125rem;
    }
}
@media (max-width: 737px){
    .chicacoffe2{
        height: 68%;
    }
    .fondoCof img{
        height: 55%;
    }
    .cuatroProd{
        height: 400px;
    }
    .prod article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .pieDePag h2{
        font-size: 1.125rem;
    }
    footer .pieDePag img{
        width:10%;
        height:15%;
    }
    .reserva h3{
        font-size: 1.625rem;
    }
    .botones button{
        font-size: .625rem;
        width: 100%;
        height: 100%;
    }
    .reserva{
        height: 50px;
    }
    .productosInicio{
        font-size: .75rem;
    }
    .encontrarnos{
        height: 250px;
    }
    .encontrarnos h2{
        font-size: 3.375rem;
        padding-left:30px;
    }
    .barraNav{
        height: 90px;
    }
    .logo img{
        width:70%;
        height:70%;
    }
    nav ul li a{
        font-size: 1rem;
    }
    .productosInicio button{
        font-size: .625rem;
    }
}
@media (max-width:636px){
    .botones button{
        font-size: .5rem;
        margin: 0.5px 0.5px 0.5px 0.5px;
    }
    .fondoCof{
        height: 350px;
    }
    .fondoCof p{
        padding-top: 0%;
        font-size: 1.375rem;
    }
    .fondoCof img{
        width: 26%;
        height: 60%;
    }
    .cuatroProd{
        height: 350px;
    }
    .comienzo{
        height: 250px;
    }
    .comienzo h1{
        font-size: 2.625rem;
    }
    .reserva h3{
        font-size: 1.375rem;
    }
    .encontrarnos{
        height: 250px;
    }
    nav{
        font-size: .625rem;
    }
    .productosInicio{
        font-size: .5rem;
    }
    .encontrarnos h2{
        font-size: 3.375rem;
        padding-left:20px;
    }
    .barraNav{
        height: 85px;
    }
    .logo img{
        width:60%;
        height:60%;
    }
    nav ul li a{
        font-size: .8125rem;
    }
    .masVendidos{
        font-size: 3.25rem;
    }
    .productosInicio button{
        font-size: .4375rem;
    }
}
@media (max-width:535px){
    .encontrarnos{
        height: 200px;
    }
    .chicacoffe2{
        height: 60%;
    }
    .reserva h3{
        padding-left: 5px;
    }
    .botones button{
        justify-content: right;
        width: 30%;
        font-size: .5rem;
    }
    .fondoCof img{
        width: 27%;
        height: 55%;
    }
    .fondoCof p{
        font-size: 1.25rem;
    }
    .cuatroProd{
        height: 320px;
    }
    .comienzo{
        height: 200px;
    }
    .comienzo h1{
        font-size: 2.125rem;
    }
    nav{
        font-size: .375rem;
    }
    .encontrarnos h2{
        font-size: 2.5rem;
        padding-left:10px;
    }
    .barraNav{
        height: 75px;
    }
    .logo img{
        margin-top: 25%;
        width:40%;
        height:40%;
    }
    nav ul li a{
        font-size: .625rem;
    }
    .masVendidos{
        font-size: 2.8125rem;
    }
    .productosInicio button{
        font-size: .3125rem;
    }
}

@media (max-width:460px){
    .pieDePag h2{
        font-size: .75rem;
    }
    .encontrarnos{
        height: 150px;
    }
    .encontrarnos h2{
        font-size: 2.1875rem;
        padding-top: 20px;
    }
    .chicacoffe2{
        height: 70%;
    }
    .fondoCof{
        height: 250px;
    }
    .fondoCof img{
        height: 60%;
    }
    .fondoCof p{
        padding-top: 2%;
        font-size: .875rem;
    }
    .cuatroProd{
        height: 280px;
    }
    .masVendidos{
        font-size: 2.375rem;
    }
    .comienzo{
        height: 130px;
    }
    .comienzo h1{
        width: 15%;
        margin-left: 10px;
        font-size: 1.375rem;
    }
    .barraNav{
        height: 70px;
    }
    .logo img{
        width:40%;
        height:40%;
    }
    nav ul li a{
        font-size: .4375rem;
    }
}
@media (max-width:375px){
    .encontrarnos h2{
        font-size: 30p
        ;
    }
    .chicacoffe2{
        height: 60%;
    }
    .reserva h3{
        font-size: 1.125rem;
    }
    .fondoCof{
        height: 210px;
    }
    .fondoCof img{
        width: 25%;
        height: 50%;
    }
    .fondoCof p{
        padding-top: 2%;
        font-size: .75rem;
    }
    .prod{
        margin-top: 0px;
    }
    .masVendidos h3{
        padding-top: 20px;
    }
    .cuatroProd{
        height: 220px;
    }
    .masVendidos{
        font-size: 1.75rem;
    }
    .barraNav{
        height: 50px;
    }
    .navHome{
        height: 50%;
    }
    .logo img{
        margin-top: 35%;
        width:25%;
        height:25%;
    }
    nav ul li a{
        font-size: .25rem;
    }
    .comienzo{
        height: 110px;
    }
    .comienzo h1{
        font-size: 1.125rem;
    }
    
}
/**MEDIDA MOBILE IPHONE SE**/