@charset "UTF-8";
/**base**/
/*titulos*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Reenie+Beanie&family=Saira+Condensed:wght@500&display=swap");
/*love in a cup*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Reenie+Beanie&family=Saira+Condensed:wght@300&display=swap");
/*orbitron*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Reenie+Beanie&family=Saira+Condensed:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /**border: 1px solid red;**/
}

.loveInACup {
  width: 100%;
  height: 23px;
}

.loveInACup h4 {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  text-align: center;
  background-color: black;
  font-size: 0.9375rem;
  font-weight: 150;
}

h1 {
  color: white;
  font-family: "Reenie Beanie", cursiva;
  font-size: 8.625rem;
  font-weight: 100;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #225c3b;
  font-family: "Orbitron", sans-serif;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  padding-top: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #225c3b;
  font-size: 1.75rem;
}

.puntoC {
  height: 30px;
  color: white;
  background-color: white;
}

/**layout**/
.menulogo {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menulogo img {
  width: 60%;
  height: 100%;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #999999;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer .pieDePag {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.pieDePag h2 {
  width: 80%;
  height: 100%;
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 200;
}

footer .pieDePag img {
  width: 70px;
  height: 70%;
}

/*home------------------------------------------------------------------------------------------------------*/
.barraNav {
  width: 100%;
  height: 107px;
}

.navHome {
  padding-top: 20px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

.productosInicio p {
  text-transform: uppercase;
}

.productosInicio button {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  padding: 5%;
  background-color: #527e65;
  border: none;
  border-radius: 25px;
  text-align: center;
}

.cuatroProd {
  background-image: url(../assest/Inicio/fondo\ sombra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 565px;
}

.prod {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.prod article {
  width: 20%;
  height: 10%;
}

.prod img {
  margin-left: 7px;
  margin-top: 20px;
  width: 90%;
  height: 100%;
  border-radius: 57px;
}

.masVendidos {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 4rem;
}

.masVendidos h3 {
  height: 20%;
  font-weight: 100;
  text-align: center;
  padding-top: 30px;
}

.punto {
  background-color: black;
}

.logo {
  width: 90px;
  height: 85px;
}

.logo img {
  padding-top: 10%;
  width: 100%;
  height: 100%;
}

.comienzo {
  background-image: url(../assest/Inicio/cafeteria\ aest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 712px;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.comienzo h1 {
  font-size: 110px;
  text-align: left;
  text-transform: uppercase;
  width: 20%;
  height: 100%;
  margin-left: 20px;
  margin-top: 3%;
}

.productosInicio {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 1.875rem;
  font-weight: 100;
  text-align: center;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  row-gap: 20px;
}

.botones button {
  width: 60%;
  height: 70%;
  color: #527e65;
  font-family: "Saira Condensed", sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: black;
  border-style: 20px solid;
  border-color: #527e65;
  border-radius: 59.5px;
  margin: 10px 10px 10px 10px;
}

.reserva {
  width: 100%;
  height: 90px;
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reserva h3 {
  color: white;
  font-family: "Reenie Beanie", cursiva;
  font-size: 3rem;
  font-weight: 50;
  padding-left: 20px;
}

.reserva button {
  color: #527e65;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  margin-right: 30px;
}

.fondoCof {
  background-image: url(../assest/Inicio/fondoTime.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fondoCof img {
  width: 20%;
  height: 80%;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.fondoCof p {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 2.25rem;
  font-weight: 600;
  width: 52%;
  height: 90%;
  margin-top: 8%;
}

.encontrarnos {
  width: 100%;
  height: 500px;
  background-image: url(../assest/Inicio/fondo\ sombra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.encontrarnos h2 {
  color: #225c3b;
  font-family: "Reenie Beanie", cursiva;
  font-size: 6.25rem;
  font-weight: 50;
  text-align: left center;
  text-transform: uppercase;
  width: 30%;
  height: 100%;
  padding-left: 70px;
  padding-top: 60px;
}

.chicacoffe2 {
  margin-top: 30px;
  margin-right: 10%;
  margin-bottom: 30px;
  width: 25%;
  height: 400x;
}

/*Menu---------------------------------------------------------------------------------------------------------*/
.mainMenu h1 {
  width: 100%;
  height: 650px;
  text-transform: uppercase;
  background-image: url(../assest/menu/menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bebidas-comidas {
  align-items: center;
  height: 1000px;
  background-image: url(../assest/menu/fondoClaro.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.comida {
  align-items: center;
  height: 900px;
  background-image: url(../assest/menu/fondoClaro.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.comida img {
  border-radius: 63px;
}

.menuCompleto {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.menuCompleto2 {
  padding-top: 20px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.productos p {
  color: #225c3b;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.bebidas-comidas img {
  border-radius: 63px;
}

.bebidas-comidas h2 {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  margin-left: 30px;
  padding-top: 30px;
}

.sub-dos h2 {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  width: 100%;
  height: 300px;
  padding-left: 20px;
  padding-top: 200px;
  background-image: url(../assest/menu/paraacompañar.png);
}

.sub-dos {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: left;
}

/*Nosotros----------------------------------------------------------------------------------------------------*/
.hola p {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 4rem;
  font-weight: 100;
  width: 50%;
  height: 100%;
  width: 60%;
  padding-top: 50px;
  margin-left: 60px;
}

.primeraParte {
  background-image: url(../assest/nosotros/fondonos.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

.hola {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hola img {
  width: 27%;
  height: 12%;
  padding-top: 70px;
  padding-right: 30px;
  padding-left: 20px;
}

.cocinaalavista {
  width: 100%;
  height: 600px;
}

.cocinaalavista img {
  width: 100%;
  height: 100%;
}

.ambos {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.ambosDos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  position: absolute;
  width: 100%;
}

.ambosDos h4 {
  color: black;
  font-family: "Saira Condensed", sans-serif;
  font-size: 7.375rem;
  font-weight: 900;
  text-align: center;
  padding-top: 270px;
  padding-left: 50px;
  padding-right: 50px;
}

.ambos .patioGrid {
  width: 70%;
  height: 95%;
  border-radius: 153px;
}

.ambos .terrazaGrid {
  width: 70%;
  height: 95%;
  border-radius: 153px;
}

.terr-pat {
  width: 100%;
  height: 1000px;
  background-color: black;
}

.terr-pat p {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-family: "Reenie Beanie", cursiva;
  font-size: 4.6875rem;
  font-weight: 100;
}

.tambien {
  padding-top: 3%;
  padding-bottom: 0%;
}

.tambien h2 {
  color: black;
  font-family: "Saira Condensed", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.tambien p {
  color: #527e65;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin-left: 220px;
  margin-right: 220px;
}

/*Reserva-----------------------------------------------------------------------------------------------*/
.sectionDos {
  background-image: url(../assest/Inicio/fondo\ sombra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
}

.imagen {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  grid-template-areas: "salon terraza patio";
  column-gap: 20px;
}

.imagen img {
  width: 100%;
  height: 100%;
}

.lugarReserva article div h2 {
  color: white;
  font-family: "Reenie Beanie", cursiva;
  font-size: 110px;
  font-weight: 100;
  text-align: center;
}

.lugares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  grid-template-areas: "salon terraza patio";
  position: relative;
}

.lugarReserva article .lugares .salon {
  grid-area: salon;
  position: absolute;
  margin-top: 350px;
  margin-left: 90px;
}

.lugarReserva article .lugares .terraza {
  grid-area: terraza;
  position: absolute;
  margin-top: 350px;
  margin-left: 50px;
}

.lugarReserva article .lugares .patio {
  grid-area: patio;
  position: absolute;
  margin-top: 350px;
  margin-left: 120px;
}

.linea {
  width: 100%;
  height: 30px;
}

.div-1 div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 0px;
}

.div-2 div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.div-2 {
  width: 70%;
  padding-left: 50px;
}

.div-1 {
  width: 70%;
  margin-left: 150px;
}

.todoJunto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.enviarBoton {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.enviarBoton button {
  text-transform: uppercase;
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 59px;
  background: none;
  border: none;
}

.formularioTA form {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
}

.formularioTA h2 {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 6rem;
  font-weight: 100;
  padding-left: 20px;
  padding-top: 20px;
}

.formularioTA p {
  text-align: left;
  width: 70%;
  margin-left: 350px;
  margin-top: 0px;
}

.palabraForm {
  width: 100%;
  font-size: 2.5rem;
}

.barraForm {
  width: 70%;
  height: 30px;
  color: white;
  border-color: black;
  border-radius: 29.5px;
  border-width: 1.5px;
}

.chicataza {
  width: 20%;
  justify-content: right;
  margin-left: 50px;
  margin-top: 30px;
}

.info {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  grid-area: info;
  margin-top: 40px;
}

.amigas {
  background-image: url(../assest/reserva/amigas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 608px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amigas h2 {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.amigas h3 {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

/*Take away-----------------------------------------------------------------------------------------------*/
.takeAway {
  text-align: center;
  padding-top: 160px;
  height: 500px;
  background-image: url(../assest/takeAway/portada.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.pedipreppas {
  background-image: url(../assest/takeAway/fondodeg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.pedipreppas .comenza {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 6.875rem;
  font-weight: 100;
  text-align: center;
  margin-left: 20px;
  margin-top: 120px;
}

.pedipreppas ol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.productosTA {
  background-image: url(../assest/takeAway/fondoBlanco.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.productosTA article {
  display: inline-block;
  margin: 25px;
}

.productosTA button {
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 50px;
  font-weight: 300;
  padding: 0px 70px 0px 70px;
  margin-left: 15px;
  background-color: #225c3b;
  border: none;
  border-radius: 59.5px;
}

.formTA {
  background-image: url(../assest/takeAway/degrade.jpg);
  background-repeat: no-repeat;
}

.productosTA article img {
  border-radius: 63px;
  border: none;
  display: flex;
  justify-content: space-evenly;
}

.productosTA article div .productos {
  color: #225c3b;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pedipreppas h4 {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 2.25rem;
  font-weight: 200;
}

.pedipreppas h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-size: 6.875rem;
  font-weight: 1000;
}

.pedipreppas ol {
  color: #527e65;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

.botonPedir button {
  width: 95%;
  color: #527e65;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  background-color: white;
  border-style: 10px solid;
  border-color: #527e65;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
}

.botonPedir {
  padding-left: 33px;
  padding-bottom: 20px;
}

.lineaDiv {
  background-color: black;
  width: 100%;
  height: 3px;
  border-radius: 10px;
}

.carrito {
  color: black;
  font-family: "Reenie Beanie", cursiva;
  font-size: 6.875rem;
  font-weight: 100;
  width: 80%;
  height: 10%;
  border: black solid;
  border-radius: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.todo .formulario label {
  color: black;
  font-size: 2.625rem;
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
}

.formulario {
  width: 100%;
  padding-bottom: 30px;
}

.formulario .inp {
  width: 50%;
  height: 25px;
  border-color: black;
  border-style: solid;
  border-radius: 50px;
}

.formulario input {
  margin-left: 70px;
}

.formulario .lab {
  margin-left: 70px;
}

.formTA .imagenPL {
  width: 100%;
  height: 400px;
}

.formTA img {
  width: 100%;
  height: 100%;
}

/**MEDIA Q**/
@media (max-width: 1440px) {
  .comienzo {
    height: 600px;
  }
  .comienzo h1 {
    font-size: 6.25rem;
  }
}
@media (max-width: 1350px) {
  .productos p {
    font-size: 17px;
  }
  .comida {
    height: 780px;
  }
  .bebidas-comidas {
    height: 880px;
  }
  .bebidas-comidas img {
    width: 240px;
    height: 270px;
  }
  .comida img {
    width: 240px;
    height: 270px;
  }
  .primeraParte {
    height: 800px;
  }
  .tambien p {
    font-size: 1.625rem;
  }
  .tambien h2 {
    font-size: 3.625rem;
  }
  .hola p {
    font-size: 3.625rem;
  }
  .ambos .patioo {
    font-size: 6.25rem;
  }
  .ambos .terrazaa {
    font-size: 6.25rem;
  }
  .menulogo {
    height: 220px;
  }
  .cuatroProd {
    height: 600px;
  }
  .productosInicio {
    font-size: 1.5rem;
  }
}
@media (max-width: 1272px) {
  .ambosDos h4 {
    font-size: 6.25rem;
  }
  .cocinaalavista {
    height: 550px;
  }
  .hola p {
    font-size: 3.25rem;
  }
  .terr-pat p {
    font-size: 4.375rem;
  }
  .cuatroProd {
    height: 550px;
  }
  .comienzo {
    height: 550px;
  }
  .comienzo h1 {
    font-size: 5.625rem;
  }
  .productosInicio {
    font-size: 1.5rem;
  }
  nav ul li a {
    font-size: 25px;
  }
}
@media (max-width: 1170px) {
  .productos p {
    font-size: 14px;
  }
  .sub-dos h2 {
    height: 270px;
    font-size: 2.5rem;
    padding-left: 20px;
  }
  .menuCompleto2 {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .menuCompleto {
    padding-top: 50px;
  }
  .comida {
    height: 650px;
  }
  .bebidas-comidas {
    height: 780px;
  }
  .bebidas-comidas img {
    width: 200px;
    height: 230px;
  }
  .comida img {
    width: 200px;
    height: 230px;
  }
  .primeraParte {
    height: 700px;
  }
  .tambien h2 {
    font-size: 3.125rem;
  }
  .terr-pat {
    height: 900px;
  }
  .terr-pat p {
    font-size: 4.0625rem;
  }
  .ambos .patioGrid {
    height: 80%;
  }
  .ambos .terrazaGrid {
    height: 80%;
  }
  .ambosDos h4 {
    padding-top: 250px;
    font-size: 5rem;
  }
  .menulogo {
    height: 200px;
  }
  .fondoCof img {
    width: 20%;
    height: 70%;
  }
  .comienzo {
    height: 420px;
  }
  .comienzo h1 {
    font-size: 4.375rem;
  }
  .loveInACup {
    width: 100%;
  }
  footer {
    height: 50%;
  }
  .pieDePag h2 {
    font-size: 1.875rem;
  }
  footer .pieDePag img {
    width: 10%;
    height: 35%;
  }
  .fondoCof p {
    font-size: 1.875rem;
  }
  .reserva h3 {
    font-size: 2.625rem;
  }
  .botones button {
    font-size: 18px;
    height: 80%;
  }
  .reserva {
    height: 70px;
  }
  .encontrarnos h2 {
    font-size: 4.75rem;
    padding-left: 50px;
  }
  .encontrarnos {
    height: 400px;
  }
  .chicacoffe2 {
    width: 20%;
    height: 80%;
  }
  .productosInicio {
    font-size: 1.25rem;
  }
  .productosInicio button {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 1100px) {
  .terr-pat {
    height: 850px;
  }
  .primeraParte {
    height: 650px;
  }
  .cocinaalavista {
    height: 500px;
  }
  .tambien p {
    font-size: 1.25rem;
  }
  .tambien h2 {
    font-size: 2.625rem;
  }
  .hola p {
    font-size: 2.875rem;
  }
  .terr-pat p {
    font-size: 3.4375rem;
  }
  .ambos .patioGrid {
    height: 80%;
  }
  .ambos .terrazaGrid {
    height: 80%;
  }
  .ambosDos h4 {
    padding-top: 250px;
  }
  .menulogo {
    height: 180px;
  }
  .fondoCof p {
    margin-top: 10%;
  }
  .fondoCof img {
    width: 22%;
  }
  .cuatroProd {
    height: 500px;
  }
  nav ul li a {
    font-size: 1.375rem;
  }
  .logo img {
    padding-top: 15%;
    width: 90%;
    height: 90%;
  }
  .barraNav {
    height: 100px;
  }
  .encontrarnos {
    height: 350px;
  }
}
@media (max-width: 929px) {
  .mainMenu h1 {
    width: 100%;
    height: 550px;
  }
  .bebidas-comidas h2 {
    font-size: 3.125rem;
  }
  .productos p {
    font-size: 14px;
  }
  .sub-dos h2 {
    width: 100%;
    height: 200px;
    font-size: 2.125rem;
    padding-left: 20px;
    padding-top: 150px;
  }
  .menuCompleto2 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .menuCompleto {
    padding-top: 40px;
  }
  .comida {
    height: 540px;
  }
  .bebidas-comidas {
    height: 650px;
  }
  .bebidas-comidas img {
    width: 160px;
    height: 190px;
  }
  .comida img {
    width: 160px;
    height: 190px;
  }
  .terr-pat {
    height: 750px;
  }
  .primeraParte {
    height: 600px;
  }
  .cocinaalavista {
    height: 450px;
  }
  .hola img {
    padding-top: 50px;
  }
  .tambien p {
    margin-left: 180px;
    margin-right: 180px;
    font-size: 1.125rem;
  }
  .hola p {
    padding-top: 40px;
    margin-left: 50px;
    font-size: 2.5rem;
  }
  .terr-pat p {
    font-size: 2.9375rem;
  }
  .ambos .patioGrid {
    height: 70%;
  }
  .ambos .terrazaGrid {
    height: 70%;
  }
  .ambosDos h4 {
    font-size: 4.375rem;
    padding-top: 230px;
  }
  .menulogo {
    height: 150px;
  }
  .fondoCof img {
    width: 23%;
    height: 65%;
  }
  .cuatroProd {
    height: 450px;
  }
  .comienzo {
    height: 350px;
  }
  .comienzo h1 {
    font-size: 3.625rem;
    width: 20%;
  }
  .loveInACup {
    width: 100%;
  }
  .fondoCof p {
    font-size: 1.625rem;
  }
  .reserva h3 {
    font-size: 2.25rem;
  }
  .botones button {
    font-size: 0.75rem;
  }
  .encontrarnos {
    height: 300px;
  }
  .encontrarnos h2 {
    font-size: 4.25rem;
    padding-left: 40px;
  }
  .barraNav {
    height: 92px;
  }
  .logo img {
    width: 85%;
    height: 85%;
  }
  nav ul li a {
    font-size: 1.125rem;
  }
  .productosInicio {
    font-size: 0.875rem;
  }
  .productosInicio button {
    font-size: 0.75rem;
  }
}
@media (max-width: 815px) {
  .mainMenu h1 {
    height: 450px;
  }
  .productos p {
    font-size: 11px;
  }
  .sub-dos h2 {
    width: 100%;
    height: 200px;
    font-size: 2.125rem;
    padding-left: 20px;
    padding-top: 150px;
  }
  .menuCompleto2 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .menuCompleto {
    padding-top: 20px;
  }
  .comida {
    height: 470px;
  }
  .bebidas-comidas {
    height: 570px;
  }
  .bebidas-comidas img {
    width: 140px;
    height: 170px;
  }
  .comida img {
    width: 140px;
    height: 170px;
  }
  .terr-pat {
    height: 700px;
  }
  .cocinaalavista {
    height: 400px;
  }
  .primeraParte {
    height: 500px;
  }
  .menulogo {
    height: 130px;
  }
  .tambien p {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 0.875rem;
  }
  .tambien h2 {
    font-size: 2.25rem;
  }
  .hola p {
    font-size: 2.25rem;
  }
  .terr-pat p {
    font-size: 2.625rem;
  }
  .ambosDos h4 {
    padding-top: 210px;
    font-size: 3.4375rem;
  }
  .ambos .patioGrid {
    height: 60%;
  }
  .ambos .terrazaGrid {
    height: 60%;
  }
  .chicacoffe2 {
    width: 20%;
    height: 73%;
  }
  .fondoCof img {
    width: 24%;
    height: 60%;
  }
  .cuatroProd {
    height: 420px;
  }
  .comienzo {
    height: 300px;
  }
  .comienzo h1 {
    font-size: 3.125rem;
  }
}
@media (max-width: 737px) {
  .mainMenu h1 {
    font-size: 6.875rem;
    height: 430px;
  }
  .productos p {
    font-size: 10px;
  }
  .sub-dos h2 {
    width: 100%;
    height: 150px;
    font-size: 1.75rem;
    padding-left: 20px;
    padding-top: 100px;
  }
  .menuCompleto {
    padding-top: 30px;
  }
  .comida {
    height: 400px;
  }
  .bebidas-comidas {
    height: 500px;
  }
  .bebidas-comidas h2 {
    font-size: 36px;
  }
  .bebidas-comidas img {
    width: 120px;
    height: 150px;
  }
  .comida img {
    width: 110px;
    height: 140px;
  }
  .terr-pat {
    height: 600px;
  }
  .cocinaalavista {
    height: 350px;
  }
  .primeraParte {
    height: 470px;
  }
  .hola img {
    width: 28%;
    height: 13%;
  }
  .menulogo {
    height: 120px;
  }
  .tambien h2 {
    font-size: 1.75rem;
  }
  .hola p {
    font-size: 2rem;
  }
  .terr-pat p {
    padding-top: 50px;
    font-size: 2.1875rem;
  }
  .ambos {
    padding-top: 40px;
  }
  .ambosDos h4 {
    padding-top: 150px;
  }
  .ambos .patioGrid {
    height: 50%;
  }
  .ambos .terrazaGrid {
    height: 50%;
  }
  .loveInACup {
    height: 20px;
  }
  .loveInACup h4 {
    font-size: 0.75rem;
  }
  .chicacoffe2 {
    height: 68%;
  }
  .fondoCof img {
    height: 55%;
  }
  .cuatroProd {
    height: 390px;
  }
  .prod article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pieDePag h2 {
    font-size: 1.125rem;
  }
  footer .pieDePag img {
    width: 10%;
    height: 15%;
  }
  .reserva h3 {
    font-size: 1.625rem;
  }
  .botones button {
    font-size: 0.625rem;
    width: 100%;
    height: 100%;
  }
  .reserva {
    height: 50px;
  }
  .productosInicio {
    font-size: 0.75rem;
  }
  .encontrarnos {
    height: 250px;
  }
  .encontrarnos h2 {
    font-size: 3.375rem;
    padding-left: 30px;
  }
  .logo img {
    padding-top: 15%;
  }
  nav ul li a {
    font-size: 0.875rem;
  }
  .productosInicio button {
    font-size: 0.625rem;
  }
  .barraNav {
    height: 90px;
  }
}
@media (max-width: 636px) {
  .puntoC {
    height: 3px;
  }
  .mainMenu h1 {
    font-size: 5.625rem;
    height: 330px;
  }
  .productos p {
    font-size: 7px;
  }
  .menuCompleto2 {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .menuCompleto {
    padding-top: 30px;
  }
  .comida {
    height: 310px;
  }
  .bebidas-comidas {
    height: 380px;
  }
  .bebidas-comidas h2 {
    font-size: 2rem;
  }
  .bebidas-comidas img {
    width: 90px;
    height: 110px;
  }
  .comida img {
    width: 90px;
    height: 110px;
  }
  .terr-pat {
    height: 500px;
  }
  .primeraParte {
    height: 430px;
  }
  .cocinaalavista {
    height: 300px;
  }
  .hola img {
    padding-top: 40px;
    width: 32%;
    height: 17%;
  }
  .menulogo {
    height: 90px;
  }
  .tambien p {
    margin-left: 100px;
    margin-right: 100px;
  }
  .hola p {
    padding-top: 30px;
    margin-left: 40px;
    font-size: 1.625rem;
  }
  .terr-pat p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.875rem;
  }
  .ambosDos h4 {
    padding-top: 135px;
    font-size: 3rem;
  }
  .ambos .patioGrid {
    height: 40%;
  }
  .ambos .terrazaGrid {
    height: 40%;
  }
  .botones button {
    font-size: 0.5rem;
    margin: 0.5px 0.5px 0.5px 0.5px;
  }
  .fondoCof {
    height: 350px;
  }
  .fondoCof p {
    padding-top: 0%;
    font-size: 1.375rem;
  }
  .fondoCof img {
    width: 26%;
    height: 60%;
  }
  .cuatroProd {
    height: 320px;
  }
  .comienzo {
    height: 250px;
  }
  .comienzo h1 {
    font-size: 2.625rem;
  }
  .reserva h3 {
    font-size: 1.375rem;
  }
  .encontrarnos {
    height: 250px;
  }
  nav {
    font-size: 0.625rem;
  }
  .productosInicio {
    font-size: 0.5rem;
  }
  .encontrarnos h2 {
    font-size: 3.375rem;
    padding-left: 20px;
  }
  .logo img {
    width: 70%;
    height: 80%;
  }
  .barraNav {
    height: 78px;
  }
  nav ul li a {
    font-size: 0.75rem;
  }
  .masVendidos {
    font-size: 3.25rem;
  }
  .productosInicio button {
    font-size: 0.4375rem;
  }
  nav {
    padding-top: 30px;
  }
  nav ul li {
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 535px) {
  nav ul li {
    padding-top: 2px;
  }
  .terr-pat {
    height: 400px;
  }
  .cocinaalavista {
    height: 250px;
  }
  .primeraParte {
    height: 400px;
  }
  .hola img {
    width: 35%;
    height: 20%;
  }
  .navGral {
    height: 40px;
  }
  .navGral nav {
    margin-top: 0px;
  }
  .menulogo {
    height: 80px;
  }
  .tambien p {
    font-size: 0.625rem;
  }
  .tambien h2 {
    font-size: 1.375rem;
  }
  .hola p {
    font-size: 1.4375rem;
  }
  .terr-pat p {
    padding-top: 30px;
    font-size: 1.5rem;
  }
  .ambosDos h4 {
    padding-top: 130px;
    font-size: 2.1875rem;
  }
  .ambos .patioGrid {
    height: 35%;
  }
  .ambos .terrazaGrid {
    height: 35%;
  }
  .prod img {
    margin-left: 5px;
  }
  .encontrarnos {
    height: 200px;
  }
  .chicacoffe2 {
    height: 60%;
  }
  .reserva h3 {
    padding-left: 5px;
  }
  .botones button {
    justify-content: right;
    width: 30%;
    font-size: 0.5rem;
  }
  .fondoCof img {
    width: 27%;
    height: 55%;
  }
  .fondoCof p {
    font-size: 1.25rem;
  }
  .cuatroProd {
    height: 290px;
  }
  .comienzo {
    height: 200px;
  }
  .comienzo h1 {
    font-size: 2.125rem;
  }
  nav {
    padding-top: 25px;
    font-size: 0.375rem;
  }
  .encontrarnos h2 {
    font-size: 2.5rem;
    padding-left: 10px;
  }
  .barraNav {
    padding-bottom: 10px;
    height: 60px;
  }
  .logo img {
    margin-top: 10%;
    width: 50%;
    height: 60%;
  }
  nav ul li a {
    font-size: 0.5625rem;
  }
  .masVendidos {
    font-size: 2.8125rem;
  }
  .productosInicio button {
    font-size: 0.3125rem;
  }
}
@media (max-width: 460px) {
  .puntoC {
    height: 0.5px;
  }
  .mainMenu h1 {
    font-size: 3.75rem;
    height: 210px;
  }
  .productos p {
    font-size: 6px;
  }
  .sub-dos h2 {
    height: 100px;
    font-size: 1.375rem;
    padding-left: 10px;
    padding-top: 70px;
  }
  .menuCompleto2 {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .menuCompleto {
    padding-top: 20px;
  }
  .comida {
    height: 260px;
  }
  .bebidas-comidas {
    height: 300px;
  }
  .bebidas-comidas h2 {
    padding-top: 20px;
    font-size: 1.5625rem;
  }
  .bebidas-comidas img {
    width: 75px;
    height: 90px;
  }
  .comida img {
    width: 75px;
    height: 90px;
  }
  .terr-pat {
    height: 330px;
  }
  .ambos {
    padding-top: 20px;
  }
  .ambosDos h4 {
    padding-top: 95px;
  }
  .ambos .patioGrid {
    height: 30%;
  }
  .ambos .terrazaGrid {
    height: 30%;
  }
  .terr-pat p {
    font-size: 1.1875rem;
  }
  .cocinaalavista {
    height: 200px;
  }
  .primeraParte {
    height: 350px;
  }
  .hola img {
    padding-top: 30px;
    width: 38%;
    height: 23%;
  }
  .navGral {
    height: 40px;
  }
  .navGral nav ul li a {
    font-size: 0.5rem;
  }
  .menulogo {
    height: 65px;
  }
  .tambien h2 {
    font-size: 1.125rem;
  }
  .tambien p {
    margin-left: 65px;
    margin-right: 65px;
  }
  .hola p {
    padding-top: 25px;
    margin-left: 35px;
    font-size: 1.25rem;
  }
  .prod img {
    margin-left: 4px;
  }
  .pieDePag h2 {
    font-size: 0.75rem;
  }
  .encontrarnos {
    height: 150px;
  }
  .encontrarnos h2 {
    font-size: 2.1875rem;
    padding-top: 20px;
  }
  .chicacoffe2 {
    height: 70%;
  }
  .fondoCof {
    height: 250px;
  }
  .fondoCof img {
    height: 60%;
  }
  .fondoCof p {
    padding-top: 2%;
    font-size: 0.875rem;
  }
  .cuatroProd {
    height: 250px;
  }
  .masVendidos {
    font-size: 2.375rem;
  }
  .comienzo {
    height: 130px;
  }
  .comienzo h1 {
    width: 15%;
    margin-left: 10px;
    font-size: 1.375rem;
  }
  .barraNav {
    padding-bottom: 11px;
    height: 58px;
  }
  nav ul li a {
    font-size: 0.4375rem;
  }
  .logo img {
    width: 45%;
    height: 55%;
  }
  .ambosDos h4 {
    font-size: 1.875rem;
  }
}
@media (max-width: 380px) {
  .menuCompleto {
    padding-top: 10px;
  }
  .comida {
    height: 230px;
  }
  .bebidas-comidas h2 {
    margin-left: 15px;
  }
  .bebidas-comidas {
    height: 270px;
  }
  .bebidas-comidas img {
    width: 65px;
    height: 80px;
  }
  .comida img {
    width: 65px;
    height: 80px;
  }
  .terr-pat {
    width: 100%;
    height: 260px;
  }
  .ambosDos h4 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
  }
  .ambos .patioGrid {
    height: 22%;
  }
  .ambos .terrazaGrid {
    height: 22%;
  }
  .terr-pat p {
    padding-top: 20px;
    font-size: 0.9375rem;
  }
  .cocinaalavista {
    height: 150px;
  }
  .primeraParte {
    height: 300px;
  }
  .hola img {
    width: 40%;
    height: 30%;
  }
  .hola p {
    margin-left: 25px;
    height: 100%;
    font-size: 1rem;
  }
  nav {
    padding-top: 15px;
  }
  .navGral {
    height: 30px;
  }
  .navGral nav ul li a {
    font-size: 0.4688rem;
  }
  .menulogo {
    height: 55px;
  }
  .tambien h2 {
    font-size: 0.9375rem;
  }
  .tambien p {
    font-size: 0.5rem;
    margin-left: 50px;
    margin-right: 50px;
  }
  .prod img {
    margin-left: 3px;
  }
  .encontrarnos h2 {
    font-size: 1.875rem;
  }
  .chicacoffe2 {
    height: 60%;
  }
  .reserva h3 {
    font-size: 1.125rem;
  }
  .fondoCof {
    height: 210px;
  }
  .fondoCof img {
    width: 25%;
    height: 50%;
  }
  .fondoCof p {
    padding-top: 2%;
    font-size: 0.75rem;
  }
  .prod {
    margin-top: 0px;
  }
  .masVendidos h3 {
    padding-top: 20px;
  }
  .cuatroProd {
    height: 210px;
  }
  .masVendidos {
    font-size: 1.75rem;
  }
  .barraNav {
    height: 50px;
  }
  .navHome {
    height: 50%;
  }
  .logo img {
    width: 40%;
    height: 50%;
  }
  nav ul li a {
    font-size: 0.375rem;
  }
  .comienzo {
    height: 110px;
  }
  .comienzo h1 {
    font-size: 1.125rem;
  }
  .ambosDos h4 {
    font-size: 1.6875rem;
  }
  .navHome ul {
    padding-bottom: 10px;
  }
}
@media (max-width: 355px) {
  nav ul li a {
    font-size: 0.375rem;
  }
  nav ul li {
    margin-left: 6px;
    margin-right: 6px;
  }
}

/*# sourceMappingURL=style.css.map */
