.puntoB{
    color: map-get($colors , blanco );
}
.takeAway{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    height: 100%;
    background-image: url(../assest/takeAway/portada.png);
    @include background(cover, no-repeat, $widthYHeigth);
}
.pedipreppas{
    background-color: map-get($colors , negro);
    @include background(cover, no-repeat, $widthYHeigth);
    height: 100%;
    padding-bottom: 5%;
}
.pedipreppas ol{
    @include flex(row, space-around, center);
    padding-top: 3%;
}
.productosTA{
    background-image: url(../assest/takeAway/fondoBlanco.png);
    @include background(cover, no-repeat, $widthYHeigth);
    padding-top: 4%;
    padding-bottom: 4%;
    @include flex(row, space-evenly, center);
}
.productosTA button{
    color:map-get($colors , blanco);   
    font-family: "Saira Condensed", sans-serif;
    font-size: 3.125rem;
    font-weight: 300;
    width: $widthYHeigth;
    background-color:map-get($colors , letrasVerdes);   
    border: none;
    border-radius: 59.5px;
    justify-items: center;
}
.formTA{
    background-image: url(../assest/takeAway/degrade.jpg);
    @include background(cover, no-repeat, $widthYHeigth);
    height: $widthYHeigth;
}
.productosTA article img{
    border-radius: 63px;
    border: none;
    display: flex;
    justify-content: space-evenly;
}
.productosTA article div .productos{
    color:map-get($colors , letrasVerdes); 
    font-family:"Orbitron", sans-serif;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 5%;
    margin-bottom: 1%;
}
.pedipreppas h4{
    padding-top: 5%;
    text-align: center;
    text-transform: $textT;
    color:map-get($colors , blanco);   
    font-family:"Saira Condensed", sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
}
.pedipreppas h2{
    text-align: center;
    text-transform: $textT;
    color:map-get($colors , blanco);   
    font-family:"Saira Condensed", sans-serif;
    font-size: 6.875rem;
    font-weight: 1000;
}
.comenza{
    background-image: url(../../assest/takeAway/fondodeg.png);
    @include background(cover, no-repeat, $widthYHeigth);
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    text-transform: $textT;
    color:map-get($colors , negro);   
    font-family: "Reenie Beanie", cursiva;
    font-size: 5rem;
    font-weight: 200;
}
.pedipreppas ol{
    color:map-get($colors , verdeBotones);   
    font-family:"Orbitron", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.botonPedir button{
    width: 90%;
    color:map-get($colors , verdeBotones);   
    font-family:"Saira Condensed", sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    background-color:map-get($colors , blanco ); 
    border-style: 20px solid;
    border-color:map-get($colors , verdeBotones);   
    border-radius: 10px;
}
.botonPedir{
    padding-left: 9%;
    padding-bottom: 3%;
}
.lineaDiv{
    background-color:map-get($colors , negro);   
    width: 100%;
    height: 3px;
    border-radius: 10px;
}
.carrito{
    text-align: center;
    color: map-get($colors , negro);   
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    width:80%;
    border:map-get($colors , negro) solid;   
    border-radius: 50px;
    margin-left: 10%;
    margin-bottom: 4%;
    margin-top: 2%;
}
.todo{
    @include flex(row, space-between, center);
    padding-bottom: 3%;
    padding-left: 9%;
}
.todo .formulario label{
    color:map-get($colors , negro);   
    font-size: 1.75rem;
    font-weight: 500;
    font-family:"Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
}
.formulario{
    width: $widthYHeigth;
}
.formulario .inp{
    font-size: .875rem;
    width: 70%;
    height: 30%;
    border-color: map-get($colors , negro);  
    border-style: solid;
    border-radius: 50px;
}
.formTA .imagenPL{
    width:$widthYHeigth;
    height: $widthYHeigth;
}
.formTA img{
    width: $widthYHeigth;
    height: $widthYHeigth;
}