.takeAway{
    text-align: center;
    padding-top: 160px;
    height: 500px;
    background-image: url(../assest/takeAway/portada.png);
    @include background(cover, no-repeat, $widthYHeigth);

}
.pedipreppas{
    background-image: url(../assest/takeAway/fondodeg.png);
    @include background(cover, no-repeat, $widthYHeigth);
    height: 600px;
}
.pedipreppas .comenza{
    color:map-get($colors , negro);   
    font-family: "Reenie Beanie", cursiva;
    font-size: 6.875rem;
    font-weight: 100;
    text-align: center;
    margin-left: 20px;
    margin-top: 120px;
}
.pedipreppas ol{
    @include flex(row, space-around, center);
    padding-top: 20px;
}
.productosTA{
    background-image: url(../assest/takeAway/fondoBlanco.png);
    @include background(cover, no-repeat, $widthYHeigth);
    padding-top: 30px;
    padding-bottom: 30px;
}
.productosTA article{
    display: inline-block;
    margin: 25px;
}
.productosTA button{
    color:map-get($colors , blanco);   
    font-family: "Saira Condensed", sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding: 0px 70px 0px 70px;
    margin-left: 15px;
    background-color:map-get($colors , letrasVerdes);   
    border: none;
    border-radius: 59.5px;
}
.formTA{
    background-image: url(../assest/takeAway/degrade.jpg);
    background-repeat: no-repeat;
}
.productosTA article img{
    border-radius: 63px;
    border: none;
    display: flex;
    justify-content: space-evenly;
}
.productosTA article div .productos{
    color:map-get($colors , letrasVerdes); 
    font-family:"Orbitron", sans-serif;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pedipreppas h4{
    padding-top: 50px;
    text-align: center;
    text-transform: $textT;
    color:map-get($colors , blanco);   
    font-family:"Saira Condensed", sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
}
.pedipreppas h2{
    text-align: center;
    text-transform: $textT;
    color:map-get($colors , blanco);   
    font-family:"Saira Condensed", sans-serif;
    font-size: 6.875rem;
    font-weight: 1000;
}
.pedipreppas ol{
    color:map-get($colors , verdeBotones);   
    font-family:"Orbitron", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}
.botonPedir button{
    width: 95%;
    color:map-get($colors , verdeBotones);   
    font-family:"Saira Condensed", sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    background-color:map-get($colors , blanco ); 
    border-style: 10px solid;
    border-color:map-get($colors , verdeBotones);   
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
.botonPedir{
    padding-left: 33px;
    padding-bottom: 20px;
}
.lineaDiv{
    background-color:map-get($colors , negro);   
    width: 100%;
    height: 3px;
    border-radius: 10px;
}
.carrito{
    color: map-get($colors , negro);   
    font-family: "Reenie Beanie", cursiva;
    font-size: 6.875rem;
    font-weight: 100;
    width:80%;
    height: 10%;
    border:map-get($colors , negro) solid;   
    border-radius: 50px;
    margin-left:150px ;
    margin-bottom: 50px;
}
.todo{
    @include flex(row, space-between, center);
    gap: 20px;
}
.todo .formulario label{
    color:map-get($colors , negro);   
    font-size: 2.625rem;
    font-weight: 500;
    font-family:"Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
}
.formulario{
    width: $widthYHeigth;
    padding-bottom: 30px;
}
.formulario .inp{
    width: 50%;
    height: 25px;
    border-color: map-get($colors , negro);  
    border-style: solid;
    border-radius: 50px;
}
.formulario input{
    margin-left: 70px;
}
.formulario .lab{
    margin-left: 70px;
}
.formTA .imagenPL{
    width:$widthYHeigth;
    height: 400px;
}
.formTA img{
    width: $widthYHeigth;
    height: $widthYHeigth;
}