@media (max-width: 929px){
    .mainMenu h1{
        width: $widthYHeigth;
        height: 550px;
    }
    .bebidas-comidas h2{
        font-size: 3.125rem;
    }
    .productos p{
        font-size: 14px;
    }
    .sub-dos h2{
        width: $widthYHeigth;
        height: 200px;
        font-size: 2.125rem;
        padding-left: 20px;
        padding-top: 150px;
    }
    .menuCompleto2{
        padding-top: 10px;
        padding-bottom: 30px;
        }
    .menuCompleto{
        padding-top: 40px;
    }
    .comida{
        height: 540px;
    }
    .bebidas-comidas{
        height: 650px;
    }
    .bebidas-comidas img{
        width: 160px;
        height: 190px;
    }
    .comida img{
        width: 160px;
        height: 190px;
    }
    .terr-pat{
        height: 750px;
    }
    .primeraParte{
        height: 600px;
    }
    .cocinaalavista{
        height: 450px;
    }
    .hola img{
        padding-top: 50px;
    }
    .tambien p{
        margin-left: 180px;
        margin-right: 180px;
        font-size: 1.125rem;
    }
    .hola p{
        padding-top: 40px;
        margin-left: 50px;
        font-size: 2.5rem;
    }
    .terr-pat p{
        font-size: 2.9375rem;
    }
    .ambos .patioGrid{
        height: 70%;
    }
    .ambos .terrazaGrid{
        height: 70%;
    }
    .ambosDos h4{
        font-size: 4.375rem;
        padding-top: 230px;
    }
    .menulogo{
        height: 150px;
    }
    .fondoCof img{
        width: 23%;
        height: 65%;
    }
    .cuatroProd{
        height: 450px;
    }
    .comienzo{
        height: 350px;
    }
    .comienzo h1{
        font-size: 3.625rem;
        width: 20%;
    }
    .loveInACup{
        width: $widthYHeigth;
    }
    .fondoCof p{
        font-size: 1.625rem;
    }
    .reserva h3{
        font-size: 2.25rem;
    }
    .botones button{
        font-size: .75rem;
    }
    .encontrarnos{
        height: 300px;
    }
    .encontrarnos h2{
        font-size: 4.25rem;
        padding-left:40px;
    }
    .barraNav{
        height: 92px;
    }
    .logo img{
        width:85%;
        height:85%;
    }
    nav ul li a{
        font-size: 1.125rem;
    }
    .productosInicio{
        font-size: .875rem;
    }
    .productosInicio button{
        font-size: .75rem;
    }
}
@media (max-width: 815px){
    .mainMenu h1{
        height: 450px;
    }
    .productos p{
        font-size: 11px;
    }
    .sub-dos h2{
        width: $widthYHeigth;
        height: 200px;
        font-size: 2.125rem;
        padding-left: 20px;
        padding-top: 150px;
    }
    .menuCompleto2{
        padding-top: 30px;
        padding-bottom: 15px;
        }
    .menuCompleto{
        padding-top: 20px;
    }
    .comida{
        height: 470px;
    }
    .bebidas-comidas{
        height: 570px;
    }
    .bebidas-comidas img{
        width: 140px;
        height: 170px;
    }
    .comida img{
        width: 140px;
        height: 170px;
    }
    .terr-pat{
        height: 700px;
    }
    .cocinaalavista{
        height: 400px;
    }
    .primeraParte{
        height: 500px;
    }
    .menulogo{
        height: 130px;
    }
    .tambien p{
        margin-left: 150px;
        margin-right: 150px;
        font-size: .875rem;
    }
    .tambien h2{
        font-size: 2.25rem;
    }
    .hola p{
        font-size: 2.25rem;
    }
    .terr-pat p{
        font-size: 2.625rem;
    }
    .ambosDos h4{
        padding-top: 210px;
        font-size: 3.4375rem;
    }
    .ambos .patioGrid{
        height: 60%;
    }
    .ambos .terrazaGrid{
        height: 60%;
    }
    .chicacoffe2{
        width: 20%;
        height: 73%;
    }
    .fondoCof img{
        width: 24%;
        height: 60%;
    }
    .cuatroProd{
        height: 420px;
    }
    .comienzo{
        height: 300px;
    }
    .comienzo h1{
        font-size: 3.125rem;
    }
}
@media (max-width: 737px){
    .mainMenu h1{
        font-size: 6.875rem;
        height: 430px;
    }
    .productos p{
        font-size: 10px;
    }
    .sub-dos h2{
        width: $widthYHeigth;
        height: 150px;
        font-size: 1.75rem;
        padding-left: 20px;
        padding-top: 100px;
    }
    .menuCompleto{
        padding-top: 30px;
    }
    .comida{
        height: 400px;
    }
    .bebidas-comidas{
        height: 500px;
    }
    .bebidas-comidas h2{
        font-size: 36px;
    }
    .bebidas-comidas img{
        width: 120px;
        height: 150px;
    }
    .comida img{
        width: 110px;
        height: 140px;
    }
    .terr-pat{
        height: 600px;
    }
    .cocinaalavista{
        height: 350px;
    }
    .primeraParte{
        height: 470px;
    }
    .hola img{
        width: 28%;
        height: 13%;
    }
    .menulogo{
        height: 120px;
    }
    .tambien h2{
        font-size: 1.75rem;
    }
    .hola p{
        font-size: 2rem;
    }
    .terr-pat p{
        padding-top: 50px;
        font-size: 2.1875rem;
    }
    .ambos{
        padding-top: 40px;
    }
    .ambosDos h4{
        padding-top: 150px;
    }
    .ambos .patioGrid{
        height: 50%;
    }
    .ambos .terrazaGrid{
        height: 50%;
    }
    .loveInACup{
        height: 20px;
    }
    .loveInACup h4{
        font-size: .75rem;
    }
    .chicacoffe2{
        height: 68%;
    }
    .fondoCof img{
        height: 55%;
    }
    .cuatroProd{
        height: 390px;
    }
    .prod article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .pieDePag h2{
        font-size: 1.125rem;
    }
    footer .pieDePag img{
        width:10%;
        height:15%;
    }
    .reserva h3{
        font-size: 1.625rem;
    }
    .botones button{
        font-size: .625rem;
        width: $widthYHeigth;
        height:$widthYHeigth;
    }
    .reserva{
        height: 50px;
    }
    .productosInicio{
        font-size: .75rem;
    }
    .encontrarnos{
        height: 250px;
    }
    .encontrarnos h2{
        font-size: 3.375rem;
        padding-left:30px;
    }
    .logo img{
        padding-top: 15%;
    }
    nav ul li a{
        font-size: .875rem;
    }
    .productosInicio button{
        font-size: .625rem;
    }
    .barraNav{
        height: 90px;
    }
}
@media (max-width:636px){
    .puntoC{
        height: 3px;
    }
    .mainMenu h1{
        font-size: 5.625rem;
        height: 330px;
    }
    .productos p{
        font-size: 7px;
    }
    .menuCompleto2{
        padding-top: 15px;
        padding-bottom: 10px;
        }
    .menuCompleto{
        padding-top: 30px;
    }
    .comida{
        height: 310px;
    }
    .bebidas-comidas{
        height: 380px;
    }
    .bebidas-comidas h2{
        font-size: 2rem;
    }
    .bebidas-comidas img{
        width: 90px;
        height: 110px;
    }
    .comida img{
        width: 90px;
        height: 110px;
    }
    .terr-pat{
        height: 500px;
    }
    .primeraParte{
        height: 430px;
    }
    .cocinaalavista{
        height: 300px;
    }
    .hola img{
        padding-top: 40px;
        width: 32%;
        height: 17%;
    }
    .menulogo{
        height: 90px;
    }
    .tambien p{
        margin-left: 100px;
        margin-right: 100px;
    }
    .hola p{
        padding-top: 30px;
        margin-left: 40px;
        font-size: 1.625rem;
    }
    .terr-pat p{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.875rem;
    }
    .ambosDos h4{
        padding-top: 135px;
        font-size: 3rem;
    }
    .ambos .patioGrid{
        height: 40%;
    }
    .ambos .terrazaGrid{
        height: 40%;
    }
    .botones button{
        font-size: .5rem;
        margin: 0.5px 0.5px 0.5px 0.5px;
    }
    .fondoCof{
        height: 350px;
    }
    .fondoCof p{
        padding-top: 0%;
        font-size: 1.375rem;
    }
    .fondoCof img{
        width: 26%;
        height: 60%;
    }
    .cuatroProd{
        height: 320px;
    }
    .comienzo{
        height: 250px;
    }
    .comienzo h1{
        font-size: 2.625rem;
    }
    .reserva h3{
        font-size: 1.375rem;
    }
    .encontrarnos{
        height: 250px;
    }
    nav{
        font-size: .625rem;
    }
    .productosInicio{
        font-size: .5rem;
    }
    .encontrarnos h2{
        font-size: 3.375rem;
        padding-left:20px;
    }
    .logo img{
        width:70%;
        height:80%;
    }
    .barraNav{
        height: 78px;
    }
    nav ul li a{
        font-size: .75rem;
    }
    .masVendidos{
        font-size: 3.25rem;
    }
    .productosInicio button{
        font-size: .4375rem;
    }
    nav{
        padding-top: 30px;
    }
    nav ul li{
        padding-top: 6px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:535px){
    nav ul li{
        padding-top: 2px;
    }
    .terr-pat{
        height: 400px;
    }
    .cocinaalavista{
        height: 250px;
    }
    .primeraParte{
        height: 400px;
    }
    .hola img{
        width: 35%;
        height: 20%;
    }
    .navGral{
        height: 40px;
    }
    .navGral nav{
        margin-top: 0px;
    }
    .menulogo{
        height: 80px;
    }
    .tambien p{
        font-size: .625rem;
    }
    .tambien h2{
        font-size: 1.375rem;
    }
    .hola p{
        font-size: 1.4375rem;
    }
    .terr-pat p{
        padding-top: 30px;
        font-size: 1.5rem;
    }
    .ambosDos h4{
        padding-top: 130px;
        font-size: 2.1875rem;
    }
    .ambos .patioGrid{
        height: 35%;
    }
    .ambos .terrazaGrid{
        height: 35%;
    }
    .prod img{
        margin-left: 5px;
    }
    .encontrarnos{
        height: 200px;
    }
    .chicacoffe2{
        height: 60%;
    }
    .reserva h3{
        padding-left: 5px;
    }
    .botones button{
        justify-content: right;
        width: 30%;
        font-size: .5rem;
    }
    .fondoCof img{
        width: 27%;
        height: 55%;
    }
    .fondoCof p{
        font-size: 1.25rem;
    }
    .cuatroProd{
        height: 290px;
    }
    .comienzo{
        height: 200px;
    }
    .comienzo h1{
        font-size: 2.125rem;
    }
    nav{
        padding-top: 25px;
        font-size: .375rem;
    }
    .encontrarnos h2{
        font-size: 2.5rem;
        padding-left:10px;
    }
    .barraNav{
        padding-bottom: 10px;
        height: 60px;
    }
    .logo img{
        margin-top: 10%;
        width:50%;
        height:60%;
    }
    nav ul li a{
        font-size: .5625rem;
    }
    .masVendidos{
        font-size: 2.8125rem;
    }
    .productosInicio button{
        font-size: .3125rem;
    }
}