@media (max-width:460px){
    .productosTA button{
        font-size: .375rem;
    }
    .todo .formulario label{
        font-size: .625rem;
    }
    .comenza{
        font-size: 1.25rem;
    }
    .pedipreppas h2{
        font-size: 1.5rem;
    }
    .pedipreppas h4{
        font-size: .5625rem;
    }
    .pedipreppas ol{
        font-size: .4375rem;
    }
    .takeAway h1{
        font-size: 3.125rem;
    }
    .productosTA article div .productos{
        font-size: .375rem;
    }
    .productosTA button{
        font-size: 6px;
    }
    .productosTA article img{
        width: 80px;
        height: 100px;
    }
    .amigas h3{
        font-size: .9375rem;
    }
    .amigas h2{
        font-size: 1.75rem;
    }
    .enviarBoton button{
        font-size: 1.5rem;
    }
    .formularioTA h3{
        font-size: .5rem;
    }
    .barraForm{
        height: 15px;
    }
    .palabraForm{
        font-size: .625rem;
    }
    .puntoC{
        height: 0.5px;
    }
    .mainMenu h1{
        font-size: 3.75rem;
        height: 210px;
    }
    .productos p{
        font-size: 6px;
    }
    .sub-dos h2{
        font-size: 1.375rem;
        padding-left: 10px;
        padding-top: 70px;
    }
    .menuCompleto2{
        padding-top: 15px;
        padding-bottom: 5px;
        }
    .menuCompleto{
        padding-top: 20px;
    }
    .comida{
        height: 260px;
    }
    .bebidas-comidas{
        height: 300px;
    }
    .bebidas-comidas h2{
        padding-top: 20px;
        font-size: 1.5625rem;
    }
    .bebidas-comidas img{
        width: 75px;
        height: 90px;
    }
    .comida img{
        width: 75px;
        height: 90px;
    }
    .terr-pat p{
        font-size: 1.1875rem;
    }
    .primeraParte{
        height: 350px;
    }
    .hola img{
        padding-top: 30px;
        width: 38%;
        height: 23%;
    }
    .navGral{
        height: 40px;
    }
    .navGral nav ul li a{
        font-size: .5rem;
    }
    .menulogo{
        height: 65px;
    }
    .tambien h2{
        font-size: 1.125rem;
    }
    .tambien p{
        margin-left: 65px;
        margin-right: 65px;
    }
    .hola p{
        padding-top: 25px;
        margin-left: 35px;
        font-size: 1.25rem;
    }
    .prod img{
        margin-left: 4px;
    }
    .pieDePag h2{
        font-size: .75rem;
    }
    .encontrarnos h2{
        font-size: 2.1875rem;
        padding-top: 10px;
    }
    .fondoCof p{
        font-size: .875rem;
    }
    .masVendidos{
        font-size: 2.375rem;
    }
    .comienzo{
        height: 130px;
    }
    .comienzo h1{
        width: 15%;
        margin-left: 10px;
        font-size: 1.375rem;
    }
    .barraNav{
        padding-bottom: 11px;
        height: 58px;
    }
    nav ul li a{
        font-size: .4375rem;
    }
    .logo img{
        width: 45%;
        height: 55%;
    }
    .ambosDos h4{
        font-size: 1.875rem;
    }
}
@media (max-width:384px){
    .productosTA button{
        font-size: .25rem;
    }
    .todo .formulario label{
        font-size: .5rem;
    }
    .pedipreppas h2{
        font-size: 1.25rem;
    }
    .pedipreppas h4{
        font-size: .5rem;
    }
    .pedipreppas ol{
        font-size: .3438rem;
    }
    .takeAway h1{
        font-size: 2.5rem;
    }
    .productosTA article div .productos{
        font-size: .3125rem;
    }
    .productosTA button{
        font-size: 5px;
    }
    .productosTA article img{
        width: 70px;
        height: 90px;
    }
    .lugarReserva  article .lugares h2{
        font-size: 1.25rem;
    }
    .formularioTA h3{
        font-size: .4375rem;
    }
    .palabraForm{
        font-size: .5rem;
    }
    .formularioTA h2{
        font-size: 1.5625rem;
    }
    .menuCompleto{
        padding-top: 10px;
    }
    .comida{
        height: 230px;
    }
    .bebidas-comidas h2{
        margin-left: 15px;
    }
    .bebidas-comidas{
        height: 270px;
    }
    .bebidas-comidas img{
        width: 65px;
        height: 80px;
    }
    .comida img{
        width: 65px;
        height: 80px;
    }
    .terr-pat{
        width: $widthYHeigth;
    }
    .terr-pat p{
        padding-top: 20px;
        font-size: .9375rem;
    }
    .primeraParte{
        height: 300px;
    }
    .hola img{
        width: 40%;
        height: 30%;
    }
    .hola p{
        margin-left: 25px;
        height: $widthYHeigth;
        font-size: 1rem;
    }
    nav{
        padding-top: 15px;
    }
    .navGral{
        height: 30px;
    }
    .navGral nav ul li a{
        font-size: .4688rem;
    }
    .menulogo{
        height: 55px;
    }
    .tambien h2{
        font-size: .9375rem;
    }
    .tambien p{
        font-size: .5rem;
        margin-left: 50px;
        margin-right: 50px;
    }
    .prod img{
        margin-left: 3px;
    }
    .encontrarnos h2{
        font-size: 1.875rem;
    }
    .reserva h3{
        font-size: 1.125rem;
    }
    .fondoCof p{
        font-size: .75rem;
    }
    .prod{
        margin-top: 0px;
    }
    .masVendidos h3{
        padding-top: 20px;
    }
    .masVendidos{
        font-size: 1.75rem;
    }
    .barraNav{
        height: 50px;
    }
    .navHome{
        height: 50%;
    }
    .logo img{
        width:40%;
        height:50%;
    }
    nav ul li a{
        font-size: .375rem;
    }
    .comienzo{
        height: 110px;
    }
    .comienzo h1{
        font-size: 1.125rem;
    }
    .ambosDos h4{
        font-size: 1.6875rem;
    }
    .navHome ul{
        padding-bottom: 10px;
    }
}
@media (max-width:355px){
    .takeAway h1{
        font-size: 1.875rem;
    }
    .formularioTA h3{
        font-size: .375rem;
    }
    .fondoCof p{
        font-size: .6875rem;
    }
    nav ul li a{
        font-size: .375rem;
    }
    nav ul li{
        margin-left: 6px;
        margin-right: 6px;
    }
}